
<div class="control-section">
  <div class="col-lg-9 content-wrapper">
      <div id='remote' class='col-lg-6' style="margin: 0 auto;padding-top: 15px;">
          <div style="width: 250px; margin: 0 auto;">
              <h4>Remote Data</h4>
              <ejs-autocomplete id='products' #remote [dataSource]='data' [suggestionCount]='suggestionCount' filterType='StartsWith' [fields]='remoteFields'
                  [autofill]='true' [query]='query' [placeholder]='remoteWaterMark' sortOrder='Ascending'></ejs-autocomplete>
          </div>
      </div>
  </div>
</div>


<router-outlet></router-outlet>
